
/* CSS 제일 첫 번째 선언  
아래 *표시는 전체 선택자(모든요소)에 영향
*/
* {
    box-sizing: border-box; /* content box 보다 border box로 시작*/
    color: white;
}
/*  구간 선 border */
.border {
    width: 224px;
    height: 1px;
    color : #303030
}


/* hamburger */
.topLeft {
    
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
}


/* Navigations -- header */
.wrap {
    width: 1440px;
    height: 56px;
    flex-shrink: 0;
    background-color: #212121;
}



/* side bar */
.wrapNav {
    display: flex;
    width: 240px;
    height: 1395px;
    padding: 0px 16px 42px 0px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #212121;
    
}

/* ----------------------  list 수정 -------------------------- */
ul {
    line-height: 2;
    list-style-type: none;              /* 리스트 점 삭제 */
}

.material-symbols-outlined,
.yourVideos {
  display: inline-block;
  margin-right: 20px;                   /* 요소 사이의 간격 설정 */
  
}

/* ----------------------  todolist ------------------


searchbox, mic, 배열 맞추기
youtube 이미지 추가하기 
이미지와 channelName 배열 맞추기 
(사이드바 이미지와 name 위치가 삐뚤..

hamburger와 사이드바 이미지 왼쪽여백 길이 맞추기


*/

