* {
    list-style-type: none;
}


.material-symbols-outlined {

    border: none;
    background-color: white
}




.material-symbols-outlined.thumb_up {
    /* 여기에 버튼의 기본 스타일을 설정해주세요 */
    color: black; /* 예시로 기본 색상을 검정으로 설정했습니다. */
}

.material-symbols-outlined.thumb_down {
    /* 여기에 버튼의 기본 스타일을 설정해주세요 */
    color: black; /* 예시로 기본 색상을 검정으로 설정했습니다. */
}


  /* 버튼이 눌렸을 때 스타일 */
  .material-symbols-outlined.thumb_up.active {
    color: gray; /* 버튼이 눌린 상태일 때 색상을 회색으로 변경합니다. */
}
  

    /* 버튼이 눌렸을 때 스타일 */
.material-symbols-outlined.thumb_down.active {
        color: gray; /* 버튼이 눌린 상태일 때 색상을 회색으로 변경합니다. */
}