@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root {
    /* color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #1359c7;
    --red-color: #e30504;
    --grey-dark-color: #616161;
    --gray-light-color: #8e8e8e;
  
    /* size */
    --padding:12px;
    --avatar-size: 36px;
  
    /* font size */
    --font-superlarge: 22px;
    --font-verylarge: 20px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

body{
   background-color: #181818;
   color: #fff;
}

/* div for grouping all */
.container{
   display: flex;
}

/* article div */
.wrapArticle{
   margin-left: 162px;
}

/* article */
.primary{
   margin: 24px 24px 0px 24px;
   width: 664px;
   height: 968px;
   padding: 24px 0px 0px 24px;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   flex-shrink: 0;
}

/* video */
.videoContainer{
   text-align: center;
}
.videoTitle{
   margin-top: 23px;
   font-size: 18px;
}

/* video info div */
.videoInfo{
   display: flex;
   align-items: center;
   padding-top: 12px;
   padding-bottom: 12px;
}

/* video info left part => views & uploadDate */
.views,
.uploadDate{
   color: #AAAAAA;
   font-size: 14px;
   font-weight: bold;
}

/* video info right part */
.videoInfo ul{
   display: flex;
   margin-left: auto;
   gap: 8px;
}
.videoInfo ul li{
   display: flex;
   align-items: center;
   font-size: 14px;
   font-weight: bold;
}

/* icon & img margin control
   material-symbols-outlined => icon class name */
.videoInfo img,
.material-symbols-outlined{
   margin-right: 9px;
}

.videoLike,
.videoDislike{
   border: none;
   background-color: #181818;
   color: #fff;
}

/* Video Desc */
.channelTitle{
   display: flex;
   align-items: center;
}

/* video information */
.classInfo{
   display: flex;
}
.channelimg{
   width: 48px;
   height: 48px;
   margin-right: 16px;
   margin-bottom: 3px;
}
.channelName{
   margin-top: 11px;
   margin-right: 9px;
   font-size: 14px;
}
.subscribers{
   margin-bottom: 10px;
   color: #AAAAAA;
   font-size: 12px;
}

/* div for subscribe button */
.subscribeBtn{
   margin-left: auto;
   margin-right: 4px;
}
/* subscribe button */
.subscribe{
   border: none;
   border-radius: 2px;
   width: 116px;
   height: 36px;
   background-color: #cc0000;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
}
/* subscribe hover */
.subscribe:hover{
   background-color: #A50000;
}
/* active button */
.subscribe.active {
   background-color: #999;
} 

/* video explanation */
.videoExplain{
   padding-left: 64px;
   padding-top: 12px;
}
/* show more */
.showMore{
   margin-top: 8px;
   color: #AAAAAA;
   font-size: 12px;
   font-weight: bold;
   text-decoration: none;
}
.showMore:hover{
   text-decoration: underline;
}

/* Comment */
/* div for grouping comment info */
.commentInfo{
   display: flex;
   align-items: center;
   margin-top: 24px;
}
.commentCount{
   margin-right: 28px;
   white-space: nowrap;
   font-size: 16px;
}
/* div for sort comment */
.sortComment{
   display: flex;
   align-items: center;
}
.sortComment span{
   margin-right: 11px;
}
.sortComment select{
   border: none;
   border-radius: 0;
   appearance: none;
   background-color: #181818;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   width: 65px;
   height: 24px;

}

/* write comment */
.writeComment{
   margin-top: 24px;
   display: flex;
   align-items: center;
   width: 100%;
   height: 40px;
}
/* comment writer image */
.commentWriter{
   /* width: 40px;
   height: 40px; */
   margin-right: 16px;
}
/* input container
   div for grouping input */
.inputContainer{
   width: 100%;
   height: 40px;
}
/* input comment */
.commentInput{
   border: none;
   border-radius: 0;
   appearance: none;
   margin-top: 7px;
   background-color: #181818;
   color: #fff;
   width: 100%;
}
.commentBorder{
   margin-top: 4px;
   color: #303030;
}

/* comment list */
/* other comment
   div for grouping comment written by others */
.otherComment{
   margin-top: 32px;
}

/* div for grouping writer information */
.writerInfo{
   display: flex;
}

/* about writer */
.writerInfo img{
   margin-right: 16px;
}
.commentDetail{
   height: 22px;
   margin-bottom: 2px;
}
.writerName{
   font-size: 13px;
   font-weight: bold;
}
.writeTime{
   font-size: 12px;
   color: #AAAAAA;
}
/* div commentcontent */
.commentContent{
   height: 24px;
   padding-top: 2px;
   padding-bottom: 2px;
   font-size: 14px;
}


/* comment like
   div for grouping comment buttons */
.commentLike ul{
   display: flex;
   align-items: center;
}

.commentLike ul li{
   display: flex;
   align-items: center;
   margin-right: 10px;
}
.commentLike,
.commentDislike{
   border: none;
   background-color: #181818;
   color: #fff;

}
.commentDislikeCount,
.commentLikesCount{
   white-space: nowrap;
   font-size: 12px;
}
.reply{
   color: #AAAAAA;
   font-size: 12px;
}

/* aside */
.secondary{
   margin-top: 24px;
   width: 426px;
   height: 968px;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   flex-shrink: 0;
}

/* secondary top menu */
.secondaryMenu{
   margin: 8px 8px 8px 0px;
}

/* secondary top munu button */
.allBtn,
.classfyBtn{
   margin-bottom: 8px;
   padding: 8px 12px;
   color: #fff;
   background-color: #303030;
   border: 1px solid #AAAAAA;
   border-radius: 32px;
}
.allBtn{
   margin-right: 8px;
}

/* btn mouse hover */
.secondaryMenu button:hover{
   color: #303030;
   background-color: #fff;
}

/* div for secondary video */
.secondaryVideo{
   display: flex;
   margin-top: 8px;
}

.videoThumbnail{
   width: 168px;
   height: 94px;
   margin-right: 8px;
}

.secondaryVideoTitle{
   color: #fff;
   font-size: 14px;
   width: 200px;
   height: 40px;
   margin-top: 7px;
   margin-right: 24px;
}

.videoOwner,
.videoSimpleInfo{
   color: #AAAAAA;
   font-size: 12px;
   width: 200px;
   height: 18px;
}


.material-symbols-outlined.thumb_up {
    /* 여기에 버튼의 기본 스타일을 설정해주세요 */
    color: black; /* 예시로 기본 색상을 검정으로 설정했습니다. */
}

.material-symbols-outlined.thumb_down {
    /* 여기에 버튼의 기본 스타일을 설정해주세요 */
    color: black; /* 예시로 기본 색상을 검정으로 설정했습니다. */
}


  /* 버튼이 눌렸을 때 스타일 */
  .material-symbols-outlined.thumb_up.active {
    color: gray; /* 버튼이 눌린 상태일 때 색상을 회색으로 변경합니다. */
}
  

    /* 버튼이 눌렸을 때 스타일 */
.material-symbols-outlined.thumb_down.active {
        color: gray; /* 버튼이 눌린 상태일 때 색상을 회색으로 변경합니다. */
}

